<p>
  <label>Base URL</label>
  <%= text_field_tag 'settings[base_url]', @settings['base_url'] %>
</p>
<p>
  <label>Create Command</label>
  <%= text_field_tag 'settings[create_command]', @settings['create_command'] %>
</p>
